@import "tailwindcss";
body{
  background-color: rgb(207 207 207);
}
@theme {
  --color-gray-custom : #dad7df ;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}